<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_detailclass">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".unregistered.DetailClassUnregisteredActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="detail_class_unregistered_activity"
                    android:scheme="detail_class" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registered.DetailClassRegisteredActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="detail_class_registered_activity"
                    android:scheme="detail_class" />
            </intent-filter>
        </activity>
    </application>

</manifest>